body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:480px;
  height:600px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:10px;
  bottom:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:180px;
}
#u4 {
  position:absolute;
  left:2px;
  top:82px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:400px;
  top:20px;
  width:60px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:30px;
  top:20px;
  width:60px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:300px;
  top:20px;
  width:60px;
  height:60px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:130px;
  width:480px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:15px;
  width:476px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:20px;
  top:90px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:290px;
  top:90px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:390px;
  top:90px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:170px;
  top:20px;
  width:60px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:160px;
  top:90px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
