body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:480px;
  height:800px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:140px;
  top:170px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:140px;
  top:60px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:fixed;
  left:10px;
  top:50px;
}
#u7_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:750px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:750px;
}
#u9 {
  position:absolute;
  left:2px;
  top:367px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1px;
  top:0px;
  width:119px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:19px;
  width:115px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1px;
  top:80px;
  width:119px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
}
#u13 {
  position:absolute;
  left:2px;
  top:19px;
  width:115px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1px;
  top:160px;
  width:119px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FF0000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:19px;
  width:115px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1px;
  top:240px;
  width:119px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:19px;
  width:115px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:80px;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:19px;
  width:115px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:160px;
}
#u21_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:19px;
  width:115px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:240px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
}
#u26 {
  position:absolute;
  left:2px;
  top:19px;
  width:115px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u27_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:80px;
}
#u29 {
  position:absolute;
  left:2px;
  top:19px;
  width:115px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:260px;
  top:170px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:260px;
  top:60px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u34 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:380px;
  top:170px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:380px;
  top:60px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u39 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:140px;
  top:340px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:140px;
  top:230px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:260px;
  top:340px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:260px;
  top:230px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u49 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:380px;
  top:340px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:380px;
  top:230px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u54 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:140px;
  top:510px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:140px;
  top:400px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u59 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:260px;
  top:510px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:260px;
  top:400px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u64 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:380px;
  top:510px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:380px;
  top:400px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u69 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:140px;
  top:680px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:140px;
  top:570px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u74 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:260px;
  top:680px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:260px;
  top:570px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u79 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:380px;
  top:680px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:380px;
  top:570px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u84 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u85 {
  position:fixed;
  left:10px;
  top:0px;
}
#u85_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u85_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u87 {
  position:absolute;
  left:2px;
  top:17px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:110px;
  top:10px;
  width:40px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:120px;
  top:15px;
  width:20px;
  height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
  font-size:11px;
  color:#999999;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:50px;
  top:15px;
  width:50px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:150px;
  top:10px;
  width:320px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u99 {
  position:fixed;
  left:10px;
  bottom:0px;
}
#u99_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u99_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
}
#u102 {
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:96px;
  top:0px;
  width:96px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
}
#u104 {
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:192px;
  top:0px;
  width:96px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
}
#u106 {
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:288px;
  top:0px;
  width:96px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
}
#u108 {
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:384px;
  top:0px;
  width:96px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
}
#u110 {
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:364px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
