body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:480px;
  height:600px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  color:#999999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:286px;
  width:476px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:440px;
  width:260px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:256px;
  word-wrap:break-word;
}
