body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:480px;
  height:600px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:10px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:155px;
  top:12px;
  width:170px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:27px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-size:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:360px;
  width:460px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:456px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:50px;
  width:480px;
  height:250px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:250px;
}
#u13 {
  position:absolute;
  left:2px;
  top:117px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:95px;
  width:480px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u15 {
  position:absolute;
  left:110px;
  top:110px;
  width:370px;
  height:30px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15_input {
  font-family:'Applied Font';
}
#u16 {
  position:absolute;
  left:110px;
  top:60px;
  width:370px;
  height:30px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16_input {
  font-family:'Applied Font';
}
#u17 {
  position:absolute;
  left:10px;
  top:300px;
  width:480px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:46px;
  top:305px;
  width:434px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FF3300;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:20px;
  top:50px;
  width:100px;
  height:250px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  line-height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:250px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:10px;
  top:145px;
  width:480px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u24 {
  position:absolute;
  left:10px;
  top:195px;
  width:480px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u25 {
  position:absolute;
  left:10px;
  top:245px;
  width:480px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u26 {
  position:absolute;
  left:450px;
  top:260px;
  width:30px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:110px;
  top:210px;
  width:370px;
  height:30px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28_input {
  font-family:'Applied Font';
}
#u29 {
  position:absolute;
  left:110px;
  top:160px;
  width:370px;
  height:30px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29_input {
  font-family:'Applied Font';
}
#u30 {
  position:absolute;
  left:280px;
  top:160px;
  width:200px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-size:14px;
  color:#999999;
  text-align:right;
  line-height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
