body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:480px;
  height:600px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:50px;
  width:480px;
  height:270px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:270px;
}
#u3 {
  position:absolute;
  left:2px;
  top:127px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:70px;
  width:200px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  line-height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:110px;
  width:480px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u7 {
  position:absolute;
  left:10px;
  top:330px;
  width:480px;
  height:110px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:110px;
}
#u8 {
  position:absolute;
  left:2px;
  top:47px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:280px;
  top:115px;
  width:200px;
  height:200px;
  font-size:14px;
  color:#999999;
  text-align:right;
  line-height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:115px;
  width:200px;
  height:200px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  line-height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u13 {
  position:fixed;
  left:10px;
  top:0px;
}
#u13_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-size:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:155px;
  top:12px;
  width:170px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u20 {
  position:absolute;
  left:0px;
  top:2px;
  width:170px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:160px;
  width:480px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u22 {
  position:absolute;
  left:10px;
  top:210px;
  width:480px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u23 {
  position:absolute;
  left:10px;
  top:260px;
  width:480px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u24 {
  position:absolute;
  left:20px;
  top:335px;
  width:200px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  line-height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:380px;
  width:480px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u27 {
  position:absolute;
  left:280px;
  top:335px;
  width:200px;
  height:100px;
  font-family:'黑体 Regular', '黑体';
  font-size:14px;
  color:#999999;
  text-align:right;
  line-height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:440px;
  top:65px;
  width:40px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:20px;
  top:395px;
  width:460px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:344px;
  width:460px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:20px;
  top:70px;
  width:460px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:20px;
  top:175px;
  width:460px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:20px;
  top:225px;
  width:460px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:20px;
  top:275px;
  width:460px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
