body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:604px;
  top:0px;
  width:396px;
  height:59px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:59px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-size:14px;
  color:#999999;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:70px;
  width:109px;
  height:65px;
}
#u6_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u8 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u11 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u13 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u14 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u16 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u17 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:150px;
  width:109px;
  height:65px;
}
#u18_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u20 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20_img.selected {
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u23 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u26 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u29 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:230px;
  width:109px;
  height:65px;
}
#u30_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u32 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u32_img.selected {
}
#u32.selected {
}
#u33 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u35 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u37 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u38 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u40 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u41 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:0px;
  top:450px;
  width:109px;
  height:45px;
}
#u42_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u44 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u44_img.selected {
}
#u44.selected {
}
#u45 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u47 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u43_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u49 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u50 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:0px;
  top:510px;
  width:123px;
  height:85px;
}
#u51_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u53 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u53_img.selected {
}
#u53.selected {
}
#u54 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u56 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u52_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u58 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u59 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:40px;
  width:98px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u61 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u62 {
  position:absolute;
  left:3px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:20px;
  top:60px;
  width:98px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u64 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u65 {
  position:absolute;
  left:3px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:390px;
  width:109px;
  height:45px;
}
#u66_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u68 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u68_img.selected {
}
#u68.selected {
}
#u69 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u71 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u67_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u72 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u73 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u74 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:0px;
  top:310px;
  width:109px;
  height:65px;
}
#u75_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u77 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u77_img.selected {
}
#u77.selected {
}
#u78 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u80 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u76_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u82 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u83 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u85 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u86 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:130px;
  top:1090px;
  width:870px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  line-height:25px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:60px;
}
#u89 {
  position:absolute;
  left:2px;
  top:5px;
  width:866px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:130px;
  top:70px;
  width:870px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:left;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:866px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:130px;
  top:150px;
  width:200px;
  height:600px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:right;
  line-height:50px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:600px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:350px;
  top:260px;
  width:320px;
  height:30px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u96 {
  position:absolute;
  left:350px;
  top:310px;
  width:320px;
  height:30px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u97 {
  position:absolute;
  left:350px;
  top:360px;
  width:320px;
  height:30px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u98 {
  position:absolute;
  left:350px;
  top:410px;
  width:320px;
  height:30px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99 {
  position:absolute;
  left:350px;
  top:460px;
  width:320px;
  height:30px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100 {
  position:absolute;
  left:350px;
  top:1000px;
  width:100px;
  height:30px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u101 {
  position:absolute;
  left:470px;
  top:1000px;
  width:100px;
  height:30px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u102 {
  position:absolute;
  left:350px;
  top:130px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u103 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:350px;
  top:514px;
  width:100px;
  height:16px;
}
#u105 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106 {
  position:absolute;
  left:410px;
  top:514px;
  width:100px;
  height:16px;
}
#u107 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  position:absolute;
  left:470px;
  top:514px;
  width:100px;
  height:16px;
}
#u109 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u110 {
  position:absolute;
  left:350px;
  top:560px;
  width:100px;
  height:30px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u111 {
  position:absolute;
  left:460px;
  top:560px;
  width:100px;
  height:30px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u112 {
  position:absolute;
  left:570px;
  top:560px;
  width:100px;
  height:30px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u113 {
  position:absolute;
  left:350px;
  top:610px;
  width:100px;
  height:30px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u114 {
  position:absolute;
  left:460px;
  top:610px;
  width:100px;
  height:30px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u115 {
  position:absolute;
  left:570px;
  top:610px;
  width:100px;
  height:30px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u116 {
  position:absolute;
  left:350px;
  top:660px;
  width:320px;
  height:30px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u117 {
  position:absolute;
  left:690px;
  top:610px;
  width:100px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#0000FF;
  line-height:30px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:350px;
  top:720px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#003399;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:350px;
  top:789px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#003399;
}
#u122 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u123 {
  position:absolute;
  left:350px;
  top:865px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#003399;
}
#u124 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u125 {
  position:absolute;
  left:350px;
  top:934px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#003399;
}
#u126 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u127 {
  position:absolute;
  left:450px;
  top:720px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u128 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u127_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u129 {
  position:absolute;
  left:450px;
  top:789px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u130 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u129_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u131 {
  position:absolute;
  left:450px;
  top:865px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u132 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u131_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u133 {
  position:absolute;
  left:450px;
  top:934px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u134 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u133_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u135 {
  position:absolute;
  left:560px;
  top:720px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u136 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u137 {
  position:absolute;
  left:560px;
  top:789px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u138 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u139 {
  position:absolute;
  left:560px;
  top:865px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u140 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u141 {
  position:absolute;
  left:560px;
  top:934px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u142 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u143 {
  position:absolute;
  left:670px;
  top:720px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u144 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u145 {
  position:absolute;
  left:670px;
  top:789px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u146 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u147 {
  position:absolute;
  left:670px;
  top:865px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u148 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u149 {
  position:absolute;
  left:670px;
  top:934px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u150 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u151 {
  position:absolute;
  left:780px;
  top:720px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u152 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u153 {
  position:absolute;
  left:780px;
  top:789px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u154 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u155 {
  position:absolute;
  left:780px;
  top:865px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u156 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u155_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u157 {
  position:absolute;
  left:780px;
  top:934px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u158 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u157_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u159 {
  position:absolute;
  left:450px;
  top:750px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u160 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u159_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u161 {
  position:absolute;
  left:690px;
  top:360px;
  width:100px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
  line-height:30px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
