body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:699px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:145px;
  width:479px;
  height:278px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:278px;
}
#u1 {
  position:absolute;
  left:2px;
  top:131px;
  width:475px;
  visibility:hidden;
  word-wrap:break-word;
}
