body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:604px;
  top:0px;
  width:396px;
  height:59px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:59px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-size:14px;
  color:#999999;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:70px;
  width:109px;
  height:65px;
}
#u6_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u8 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u11 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u13 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u14 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u16 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u17 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:150px;
  width:109px;
  height:65px;
}
#u18_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u20 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20_img.selected {
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u23 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u26 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u29 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:230px;
  width:109px;
  height:65px;
}
#u30_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u32 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u32_img.selected {
}
#u32.selected {
}
#u33 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u35 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u37 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u38 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u40 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u41 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:0px;
  top:310px;
  width:109px;
  height:65px;
}
#u42_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u44 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u44_img.selected {
}
#u44.selected {
}
#u45 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u47 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u43_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u49 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u50 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u52 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u53 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:0px;
  top:610px;
  width:109px;
  height:45px;
}
#u54_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u56 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u56_img.selected {
}
#u56.selected {
}
#u57 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u59 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u61 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u62 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:0px;
  top:670px;
  width:123px;
  height:85px;
}
#u63_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u65 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u65_img.selected {
}
#u65.selected {
}
#u66 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u68 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u64_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u70 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u71 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:20px;
  top:40px;
  width:98px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u73 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u74 {
  position:absolute;
  left:3px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:20px;
  top:60px;
  width:98px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u76 {
  position:absolute;
  left:22px;
  top:0px;
  width:76px;
  height:20px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u77 {
  position:absolute;
  left:3px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:0px;
  top:550px;
  width:109px;
  height:45px;
}
#u78_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u80 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u80_img.selected {
}
#u80.selected {
}
#u81 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u83 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u79_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u85 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u86 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:0px;
  top:390px;
  width:109px;
  height:65px;
}
#u87_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u89 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u89_img.selected {
}
#u89.selected {
}
#u90 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u92 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u88_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u94 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u95 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u97 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u98 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:0px;
  top:470px;
  width:109px;
  height:65px;
}
#u99_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u101 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u101_img.selected {
}
#u101.selected {
}
#u102 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u104 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u100_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u106 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u107 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u109 {
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u110 {
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:130px;
  top:1710px;
  width:870px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  line-height:25px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:60px;
}
#u113 {
  position:absolute;
  left:2px;
  top:5px;
  width:866px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:130px;
  top:70px;
  width:870px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  text-align:left;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:40px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:866px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:130px;
  top:150px;
  width:200px;
  height:1250px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:14px;
  line-height:50px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1250px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:350px;
  top:310px;
  width:320px;
  height:30px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u120 {
  position:absolute;
  left:350px;
  top:360px;
  width:320px;
  height:30px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121 {
  position:absolute;
  left:350px;
  top:510px;
  width:320px;
  height:30px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122 {
  position:absolute;
  left:350px;
  top:560px;
  width:320px;
  height:30px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u123 {
  position:absolute;
  left:350px;
  top:610px;
  width:320px;
  height:30px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124 {
  position:absolute;
  left:350px;
  top:1640px;
  width:100px;
  height:30px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u125 {
  position:absolute;
  left:470px;
  top:1640px;
  width:100px;
  height:30px;
}
#u125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u126 {
  position:absolute;
  left:350px;
  top:190px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u127 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:350px;
  top:660px;
  width:100px;
  height:30px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u129 {
  position:absolute;
  left:460px;
  top:660px;
  width:100px;
  height:30px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u130 {
  position:absolute;
  left:570px;
  top:660px;
  width:100px;
  height:30px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u131 {
  position:absolute;
  left:350px;
  top:710px;
  width:320px;
  height:30px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u132 {
  position:absolute;
  left:350px;
  top:1110px;
  width:80px;
  height:80px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u133 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:350px;
  top:810px;
  width:320px;
  height:30px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u135 {
  position:absolute;
  left:350px;
  top:860px;
  width:320px;
  height:30px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u136 {
  position:absolute;
  left:350px;
  top:1060px;
  width:320px;
  height:30px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u137 {
  position:absolute;
  left:350px;
  top:1260px;
  width:80px;
  height:80px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u138 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:350px;
  top:1010px;
  width:320px;
  height:30px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u140 {
  position:absolute;
  left:220px;
  top:170px;
  width:780px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:4px;
  width:780px;
  height:3px;
}
#u141 {
  position:absolute;
  left:220px;
  top:770px;
  width:780px;
  height:10px;
}
#u141_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u141_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u141_line {
  position:absolute;
  left:0px;
  top:4px;
  width:780px;
  height:3px;
}
#u142 {
  position:absolute;
  left:220px;
  top:970px;
  width:780px;
  height:10px;
}
#u142_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u142_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u142_line {
  position:absolute;
  left:0px;
  top:4px;
  width:780px;
  height:3px;
}
#u143 {
  position:absolute;
  left:220px;
  top:1220px;
  width:780px;
  height:10px;
}
#u143_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_line {
  position:absolute;
  left:0px;
  top:4px;
  width:780px;
  height:3px;
}
#u144 {
  position:absolute;
  left:350px;
  top:910px;
  width:320px;
  height:30px;
}
#u144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u145 {
  position:absolute;
  left:350px;
  top:1365px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#003399;
}
#u146 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u147 {
  position:absolute;
  left:350px;
  top:1434px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#003399;
}
#u148 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u149 {
  position:absolute;
  left:350px;
  top:1510px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#003399;
}
#u150 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u151 {
  position:absolute;
  left:350px;
  top:1579px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#003399;
}
#u152 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u153 {
  position:absolute;
  left:450px;
  top:1365px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u154 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u155 {
  position:absolute;
  left:450px;
  top:1434px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u156 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u155_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u157 {
  position:absolute;
  left:450px;
  top:1510px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u158 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u157_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u159 {
  position:absolute;
  left:450px;
  top:1579px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u160 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u159_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u161 {
  position:absolute;
  left:560px;
  top:1365px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u162 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u161_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u163 {
  position:absolute;
  left:560px;
  top:1434px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u164 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u165 {
  position:absolute;
  left:560px;
  top:1510px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u166 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u167 {
  position:absolute;
  left:560px;
  top:1579px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u168 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u169 {
  position:absolute;
  left:670px;
  top:1365px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u170 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u169_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u171 {
  position:absolute;
  left:670px;
  top:1434px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u172 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u171_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u173 {
  position:absolute;
  left:670px;
  top:1510px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u174 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u173_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u175 {
  position:absolute;
  left:670px;
  top:1579px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u176 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u175_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u177 {
  position:absolute;
  left:780px;
  top:1265px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u178 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u177_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u179 {
  position:absolute;
  left:780px;
  top:1334px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u180 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u179_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u181 {
  position:absolute;
  left:780px;
  top:1410px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u182 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u181_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u183 {
  position:absolute;
  left:780px;
  top:1479px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u184 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u183_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u185 {
  position:absolute;
  left:450px;
  top:1395px;
  width:100px;
  height:16px;
  font-size:14px;
}
#u186 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u185_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u187 {
  position:absolute;
  left:350px;
  top:410px;
  width:320px;
  height:80px;
}
#u187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
