body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:480px;
  height:800px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:60px;
  width:200px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  line-height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:100px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u6 {
  position:fixed;
  left:460px;
  top:140px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:468px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:468px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:20px;
  top:150px;
  width:200px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  line-height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u11 {
  position:fixed;
  left:10px;
  top:0px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:40px;
  top:10px;
  width:40px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:80px;
  top:10px;
  width:390px;
  height:30px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:30px;
  background-image:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16_input {
  font-family:'Applied Font';
}
#u17 {
  position:absolute;
  left:50px;
  top:15px;
  width:20px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
  font-size:30px;
  color:#999999;
  line-height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:20px;
  top:190px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:168px;
  top:190px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:316px;
  top:190px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:20px;
  top:240px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:168px;
  top:240px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:316px;
  top:240px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:290px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:168px;
  top:290px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:316px;
  top:290px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:20px;
  top:350px;
  width:200px;
  height:450px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  line-height:50px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:450px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:20px;
  top:445px;
  width:436px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:419px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:436px;
  height:1px;
}
#u42 {
  position:absolute;
  left:20px;
  top:495px;
  width:436px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:419px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:436px;
  height:1px;
}
#u43 {
  position:absolute;
  left:20px;
  top:545px;
  width:436px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:419px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:436px;
  height:1px;
}
#u44 {
  position:absolute;
  left:20px;
  top:595px;
  width:436px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:419px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:436px;
  height:1px;
}
#u45 {
  position:absolute;
  left:20px;
  top:645px;
  width:436px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:419px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:436px;
  height:1px;
}
#u46 {
  position:absolute;
  left:20px;
  top:695px;
  width:436px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:419px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:436px;
  height:1px;
}
#u47 {
  position:absolute;
  left:20px;
  top:745px;
  width:436px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:419px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:436px;
  height:1px;
}
