body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:480px;
  height:800px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:50px;
  width:480px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:210px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  color:#999999;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:330px;
  width:460px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:217px;
  top:231px;
  width:67px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:170px;
  top:50px;
  width:160px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:0px;
  top:14px;
  width:160px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:330px;
  top:50px;
  width:160px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#666666;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:0px;
  top:14px;
  width:160px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:50px;
  width:160px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:0px;
  top:14px;
  width:160px;
  word-wrap:break-word;
}
#u17 {
  position:fixed;
  left:10px;
  top:0px;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'黑体 Regular', '黑体';
  font-size:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:155px;
  top:12px;
  width:170px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u24 {
  position:absolute;
  left:0px;
  top:2px;
  width:170px;
  word-wrap:break-word;
}
